.entry {
  display: flex;
  padding: 26px 0;
  border-bottom: 1px solid $color_grey;

  &:last-child {
    border: 0;
  }
}

.entry__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.entry__thumbnail {
  flex: 0 0 240px;
  margin-right: 22px;
}

.entry__thumbnail > img {
  height: 240px;
  width: 240px;
}

.entry_comments-count {
  @extend %font-family-monospace;
  background-color: $color_red;
  color: $color_white;
  font-size: $font-size-extra-small;
  font-weight: $font-weight-bold;
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
}

.entry__subtitle {
  @extend %font-family-monospace;
  font-size: $font-size-small;
  font-style: italic;
  font-weight: $font-weight-regular;
  line-height: $line-height-small;
  margin: 8px 0 10px;
}

.entry__title {
  font-size: $font-size-extra-big;
  line-height: $line-height-extra-big;
  width: 90%;
}

.entry__excerpt {
  line-height: $line-height-regular;
  max-width: 80%;
}

.entry__footer {
  @extend %font-family-monospace;
  color: $color_grey;
  display: flex;
  font-size: $font-size-extra-small;
  justify-content: space-between;
  text-transform: uppercase;
}

.entry__pre-author {
  font-style: italic;
  text-transform: lowercase;
}