.search-bar {
  align-self: flex-end;
}

.search__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.search__field {
  @extend %font-family-monospace;
  font-size: $font-size-mini-large;
  font-weight: $font-weight-bold;
  background-color: transparent;
  border: 0;
  border-left: 5px solid $color_red;
  padding: 0 20px;
  width: 600px;

  &:focus {
    outline: none;
  }
}

.search__submit {
  @extend %font-family-monospace;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  margin-left: 40px;
}

.search-bar,
.search__control {
  display: none;
}

.search__control:checked ~ .header .top-stories,
.search__control:checked ~ .header .header__icon-search {
  display: none;
}

.search__control:checked ~ .header .search-bar,
.search__control:checked ~ .header .header__icon-close {
  display: block;
}
