.sidebar {
  transition: transform 250ms ease-in-out;
  background: $color_red;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -50%;
  width: 50%;
  padding: 44px 48px;
  z-index: 1;
}

.sidebar__tools {
  text-align: right;
}

.sidebar__menu {
  @extend %font-family-sans-serif;
  @extend %unstyled-list;
  color: $color_white;
  font-size: $font-size-extra-large;
  font-weight: $font-weight-bold;
  line-height: $line-height-huge;
  margin-top: 30px;
}

.sidebar__control {
  display: none;
}

.sidebar__control:checked ~ .sidebar {
  transform: translateX(-100%);
}

.sidebar__close {
  cursor: pointer;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-cross {
  fill: $color_white;
}