html, body {
  @extend %font-family-serif;
  color: $color_black;
  font-size: $font-size-small;
}

h1, h2, h3, h4, h5, h6 {
  @extend %font-family-sans-serif;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.site__header > .header,
.site__error {
  max-width: $site_max_width;
}

.site__footer > .footer,
.site__more-link > .more-link,
.site__editorial > .editorial,
.site__front-page > .front-page,
.site__comments {
  max-width: $site_mid_width;
}

.site__header > .header,
.site__footer > .footer,
.site__more-link > .more-link,
.site__editorial > .editorial,
.site__front-page > .front-page,
.site__error,
.site__comments {
  margin: 0 auto;
}

.site__more-link > .more-link {
  height: 126px;
}

.site__footer {
  background-color: $color_red;
}

.site__more-link {
  background-color: $color_yellow;
}

.site__comments {
  border-top: 1px solid $color_grey;
  padding-top: 74px;
}

.single .site__header {
  background-color: $color_yellow;
}

