%block-title {
  @extend %font-family-monospace;
  border-top: 1px solid $color_grey;
  content: '';
  color: $color_red;
  display: block;
  font-size: $font-size-regular;
  font-weight: $font-weight-bold;
  padding: 16px 0;
}