@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora'), local('Lora-Regular'), url('fonts/Lora-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: local('Lora Italic'), local('Lora-Italic'), url('fonts/Lora-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: local('Lora Bold'), local('Lora-Bold'), url('fonts/Lora-Bold.woff') format('woff');
}

@font-face {
  font-family: 'RMPro';
  font-style: normal;
  font-weight: 400;
  src: local('RMPro'), local('RMPro-Regular'), url('fonts/RMPro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'RMPro';
  font-style: normal;
  font-weight: 300;
  src: local('RMPro Light'), local('RMPro-Light'), url('fonts/RMPro-Light.woff') format('woff');
}

@font-face {
  font-family: 'RMPro';
  font-style: normal;
  font-weight: 700;
  src: local('RMPro Bold'), local('RMPro-Bold'), url('fonts/RMPro-Bold.woff') format('woff');
}

@font-face {
  font-family: 'SpaceMono';
  font-style: normal;
  font-weight: 400;
  src: local('SpaceMono'), local('SpaceMono-Regular'), url('fonts/SpaceMono-Regular.woff') format('woff');
}

@font-face {
  font-family: 'SpaceMono';
  font-style: italic;
  font-weight: 400;
  src: local('SpaceMono Italic'), local('SpaceMono-Italic'), url('fonts/SpaceMono-Italic.woff') format('woff');
}

@font-face {
  font-family: 'SpaceMono';
  font-style: normal;
  font-weight: 700;
  src: local('SpaceMono Bold'), local('SpaceMono-Bold'), url('fonts/SpaceMono-Bold.woff') format('woff');
}

@font-face {
  font-family: 'SpaceMono';
  font-style: italic;
  font-weight: 700;
  src: local('SpaceMono BoldItalic'), local('SpaceMono-BoldItalic'), url('fonts/SpaceMono-BoldItalic.woff') format('woff');
}

$system-font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$system-font-family-serif: Georgia, Times, Times New Roman, serif;
$system-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$font-size-small: 16px;